# Environment variables
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/

# Local php uploads
backend/uploads/*
!backend/uploads/.gitkeep

# Apache server configuration
backend/.htaccess
